# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/
.coverage

# OS/editor
.DS_Store
.vscode/
.idea/

# Replit/local
.replit
.local/

# assets
attached_assets/generated_images/

# environment
.env
.env.local
